Repository b4er/recalc: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, fourmolu, hlint, markdownlint, nixpkgs-fmt, eslint, cabal-version-check, vscode-version-check

actionlint:
  name: actionlint
  language: system
  entry: actionlint

fourmolu:
  name: fourmolu
  language: system
  entry: fourmolu --mode inplace

hlint:
  name: hlint
  language: system
  entry: hlint

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: npm --prefix recalc-vscode run lint

cabal-version-check:
  name: Check Version and Changelog (cabal)
  language: system
  entry: ./scripts/version-check.sh cabal

vscode-version-check:
  name: Check Version and Changelog (vscode)
  language: system
  entry: ./scripts/version-check.sh vscode

simplify type inference & ast
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Term.hs
  spec/Recalc/SemanticsSpec.hs
Due: fourmolu, hlint

Add an hmatrix implementation for tensor contractions + tests
  flake.nix
  lib/Recalc/Array.hs
  recalc.cabal
  spec/Recalc/ArraySpec.hs
Due: fourmolu, hlint, nixpkgs-fmt, cabal-version-check

Make checks run for all files regardless of changes, bump action version
  .github/workflows/nix-check.yaml
  .github/workflows/nix-publish.yaml
Due: actionlint

Fix bug (clear errors when required) and add more tests
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/lib/Recalc/Repl.hs
  recalc-engine/spec/Recalc/EngineSpec.hs
  recalc-vscode/src/test/rpc/client.test.ts
Due: fourmolu, hlint, eslint

Release + changelogs (many changes)
  CHANGELOG.md
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc-vscode/CHANGELOG.md
  recalc-vscode/package.json
  recalc-vscode/recalc-ts-defs.cabal
  recalc.cabal
Due: markdownlint, cabal-version-check, vscode-version-check

Fix pretty printing for tensors.
  .hlint.yaml
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Term.hs
Due: fourmolu, hlint

Include all `*.cabal` for `version-check.sh`.
  scripts/version-check.sh
Due: none

Make sheet-defined function UI work (per sheet).
  recalc-univer/lib/Recalc/Univer/Protocol.hs
  recalc-vscode/src/frontend/views/sheet-function/SheetFunctionContainer.tsx
  recalc-vscode/src/frontend/views/sheet-function/hooks/useActiveWorksheet.ts
Due: fourmolu, hlint, eslint

Fix sheet renaming.
  .gitignore
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/lib/Recalc/Engine/DependencyMap.hs
  recalc-univer/lib/Recalc/Univer.hs
  recalc-univer/lib/Recalc/Univer/Protocol.hs
  recalc-vscode/src/frontend/controllers/rpc.controller.ts
  recalc-vscode/src/test/rpc/client.test.ts
Due: fourmolu, hlint, eslint

Implement DescriptionService functionality.
  CHANGELOG.md
  flake.nix
  lib/Recalc/Language.hs
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/lib/Recalc/Univer.hs
  recalc-univer/lib/Recalc/Univer/Protocol.hs
  recalc-univer/recalc-univer.cabal
  recalc-univer/src/Main.hs
  recalc-vscode/CHANGELOG.md
  recalc-vscode/package.json
  recalc-vscode/recalc-ts-defs.cabal
  recalc-vscode/src/extension/spreadsheet-editor.ts
  recalc-vscode/src/frontend/controllers/rpc.controller.ts
  recalc-vscode/src/frontend/plugin.ts
  recalc-vscode/src/frontend/services/function-description.service.ts
  recalc-vscode/src/test/rpc/client.test.ts
  recalc.cabal
Due: fourmolu, hlint, markdownlint, nixpkgs-fmt, eslint, cabal-version-check, vscode-version-check

Update documentation
  .github/workflows/gh-pages.yaml
  .gitignore
  cabal.project
  docs/backend.md
  docs/core.md
  docs/development.md
  docs/frontend.md
  docs/gifs/demo.gif
  docs/index.md
  docs/library.md
  docs/style.css
  flake.nix
  lib/Recalc/Array.hs
  lib/Recalc/Language.hs
  mkdocs.yaml
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/lib/Recalc/Engine/Core.hs
  recalc-engine/lib/Recalc/Repl.hs
  recalc-engine/recalc-engine.cabal
  recalc-engine/spec/Recalc/EngineSpec.hs
  recalc-univer/lib/Recalc/Univer.hs
  recalc.cabal
  spec/Recalc/ArraySpec.hs
  spec/Recalc/SemanticsSpec.hs
  spec/Recalc/Syntax/FixitySpec.hs
  spec/Recalc/Syntax/ParserSpec.hs
  spec/Recalc/Syntax/Test.hs
Due: actionlint, fourmolu, hlint, markdownlint, nixpkgs-fmt, cabal-version-check

minor
  flake.nix
  recalc-vscode/src/frontend/index.ts
Due: nixpkgs-fmt, eslint

preliminary implementation for implicits
  CHANGELOG.md
  flake.nix
  lib/Recalc/Errors.hs
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Parser.hs
  lib/Recalc/Syntax/Term.hs
  lib/Recalc/Syntax/Unify.hs
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc-vscode/package-lock.json
  recalc-vscode/recalc-ts-defs.cabal
  recalc-vscode/tsconfig.json
  recalc.cabal
  spec/Recalc/SemanticsSpec.hs
  spec/Recalc/Syntax/Arbitrary.hs
  spec/Recalc/Syntax/ParserSpec.hs
  spec/Recalc/Syntax/UnifySpec.hs
Due: fourmolu, hlint, markdownlint, nixpkgs-fmt, cabal-version-check

implement matrix multiplication
  CHANGELOG.md
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Term.hs
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc-vscode/recalc-ts-defs.cabal
  recalc.cabal
  spec/Recalc/SemanticsSpec.hs
Due: fourmolu, hlint, markdownlint, cabal-version-check

add more tests, fix bugs
  flake.lock
  flake.nix
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Term.hs
  spec/Recalc/SemanticsSpec.hs
  spec/Recalc/Syntax/UnifySpec.hs
Due: fourmolu, hlint, nixpkgs-fmt

add `inferElaborate` to recalc interface to support type-directed elaboration
  CHANGELOG.md
  lib/Recalc/Language.hs
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/lib/Recalc/Repl.hs
  recalc-engine/recalc-engine.cabal
  recalc-engine/spec/Recalc/EngineSpec.hs
  recalc-server/recalc-server.cabal
  recalc-univer/lib/Recalc/Univer.hs
  recalc-univer/recalc-univer.cabal
  recalc-vscode/recalc-ts-defs.cabal
  recalc.cabal
  spec/Recalc/SemanticsSpec.hs
Due: fourmolu, hlint, markdownlint, cabal-version-check

update docs
  docs/backend.md
  docs/core.md
  docs/library.md
  docs/style.css
  flake.nix
Due: markdownlint, nixpkgs-fmt

fix haddock (?)
  flake.nix
Due: nixpkgs-fmt

Add `ElaborationOf` to make elaboration generic, merge recalculation phases, add tests.
  CHANGELOG.md
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Parser.hs
  lib/Recalc/Syntax/Term.hs
  lib/Recalc/Syntax/Unify.hs
  recalc-engine/lib/Recalc/Engine.hs
  recalc-engine/lib/Recalc/Repl.hs
  recalc-engine/recalc-engine.cabal
  recalc-engine/spec/Recalc/EngineSpec.hs
  recalc-server/recalc-server.cabal
  recalc-univer/lib/Recalc/Univer.hs
  recalc-univer/recalc-univer.cabal
  recalc-vscode/recalc-ts-defs.cabal
  recalc.cabal
  spec/Recalc/SemanticsSpec.hs
Due: fourmolu, hlint, markdownlint, cabal-version-check

delete stale code
  recalc-vscode/hs/Main.hs
  recalc-vscode/hs/Recalc/Server/TH.hs
  recalc-vscode/hs/Recalc/Server/TypeScript.hs
  recalc-vscode/recalc-ts-defs.cabal
Due: fourmolu, hlint

release: fix static build issues
  .ghci
  CHANGELOG.md
  lib/Recalc/Array.hs
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Term.hs
  lib/Recalc/Syntax/Unify.hs
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc-vscode/CHANGELOG.md
  recalc-vscode/package.json
  recalc.cabal
  spec/Recalc/ArraySpec.hs
  spec/Recalc/SemanticsSpec.hs
  spec/Recalc/Syntax/UnifySpec.hs
Due: fourmolu, hlint, markdownlint, cabal-version-check, vscode-version-check

recalc-server: generalize function to allow implementations other than stdio
  CHANGELOG.md
  recalc-engine/recalc-engine.cabal
  recalc-server/lib/Recalc/Server.hs
  recalc-server/lib/Recalc/Server/Generic.hs
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc.cabal
Due: fourmolu, hlint, markdownlint, cabal-version-check

Implement sigma types and light-weight type classes using implicit arguments.
  CHANGELOG.md
  lib/Recalc/Language.hs
  lib/Recalc/Syntax/Parser.hs
  lib/Recalc/Syntax/Term.hs
  lib/Recalc/Syntax/Unify.hs
  recalc-engine/recalc-engine.cabal
  recalc-server/recalc-server.cabal
  recalc-univer/recalc-univer.cabal
  recalc.cabal
  spec/Recalc/SemanticsSpec.hs
  spec/Recalc/Syntax/ParserSpec.hs
Due: fourmolu, hlint, markdownlint, cabal-version-check

bump version
  recalc-vscode/CHANGELOG.md
  recalc-vscode/package.json
Due: markdownlint, vscode-version-check

Path conditions:
  actionlint: any of: ^.github/workflows/
  fourmolu: any of: \.l?hs(-boot)?$
  hlint: any of: \.l?hs(-boot)?$
  markdownlint: any of: \.md$
  nixpkgs-fmt: any of: \.nix$
  eslint: any of: ^recalc-vscode/src/
  cabal-version-check: any of: ^(CHANGELOG\.md|recalc\.cabal)$
  vscode-version-check: any of: ^recalc-vscode/(CHANGELOG\.md|package\.json)$
